header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

header ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 60px;
}

header li a{
    font-size: 24px;
    text-decoration: none;
    color: #FF6060;
}

header li a:hover{
    text-decoration: underline;
    color: #FF6060;
}