.cards-grid {
    background: #F7F7F7;
    border-radius: 25px;

    padding: 25px;
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
}

@media (min-width: 990px) {
    .cards-grid {
        padding: 56px 50px;

        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 60px;
        grid-row-gap: 50px;
    }
}